@import "./theme.css";


/* 
    Generalized flexbox
    Ref: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ 
*/
.box {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex: 0 1 auto;
    
}

.guide { box-shadow: inset 0px 0px 0px 1px $guide; }
.inline { display: inline-block; }
.reverse { flex-direction: row-reverse; }
.vertical { flex-direction: column; }
.verticalreverse { flex-direction: column-reverse; }
.wrap { flex-wrap: wrap; }

.justifystart { justify-content: flex-start; }
.justifyend { justify-content: flex-end; }
.justifycenter { justify-content: center; }
.justifybetween { justify-content: space-between; }
.justifyaround { justify-content: space-around; }
.justifyevenly { justify-content: space-evenly; }

.alignstart { align-items: flex-start; }
.alignend { align-items: flex-end; }
.aligncenter { align-items: center; }
.alignstretch { align-items: stretch; }
.alignbaseline { align-items: baseline; }

.contentstart { align-content: flex-start; }
.contentend { align-content: flex-end; }
.contentstretch { align-content: stretch; }
.contentbetween { align-content: space-between; }
.contentaround { align-content: space-around; }

